<h1>Listing media_contents</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_contents.each do |media_content| %>
      <tr>
        <td><%= media_content.file_name %></td>
        <td><%= link_to 'Show', media_content %></td>
        <td><%= link_to 'Edit', edit_media_content_path(media_content) %></td>
        <td><%= link_to 'Destroy', media_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media content', new_media_content_path %>
